<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Oculto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddHeroServlet</display-name>
    <servlet-name>AddHeroServlet</servlet-name>
    <servlet-class>hidden.controle.AddHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHeroServlet</servlet-name>
    <url-pattern>/AddHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeroRecruitedServlet</display-name>
    <servlet-name>GetHeroRecruitedServlet</servlet-name>
    <servlet-class>hidden.controle.GetHeroRecruitedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeroRecruitedServlet</servlet-name>
    <url-pattern>/GetHeroRecruited</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllHeroServlet</display-name>
    <servlet-name>GetAllHeroServlet</servlet-name>
    <servlet-class>hidden.controle.GetAllHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllHeroServlet</servlet-name>
    <url-pattern>/GetAllHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReleasedHeroServlet</display-name>
    <servlet-name>AddReleasedHeroServlet</servlet-name>
    <servlet-class>hidden.controle.AddReleasedHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReleasedHeroServlet</servlet-name>
    <url-pattern>/AddReleasedHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChapterServlet</display-name>
    <servlet-name>GetChapterServlet</servlet-name>
    <servlet-class>hidden.controle.GetChapterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChapterServlet</servlet-name>
    <url-pattern>/GetChapter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertChapterServlet</display-name>
    <servlet-name>InsertChapterServlet</servlet-name>
    <servlet-class>hidden.controle.InsertChapterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertChapterServlet</servlet-name>
    <url-pattern>/InsertChapter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessInsertServlet</display-name>
    <servlet-name>ProcessInsertServlet</servlet-name>
    <servlet-class>hidden.controle.ProcessInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessInsertServlet</servlet-name>
    <url-pattern>/ProcessInsert</url-pattern>
  </servlet-mapping>
</web-app>